# http://editorconfig.org
root = true

[*]
indent_style=space
indent_size=2
tab_width=2
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 110

[*.js, *.yml, *.ts]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = false
