.dockerignore
Dockerfile*
readme.md
Compose
**/.git
**/.github
**/.vscode
**/.env
**/.DS_Store
**/config 
**/build
**/dist
**/docs
**/docker
**/eng
**/node_modules
**/README.md
**/local.config.json
**/config.example.json
**/config.example.ports.json