.git
.vscode
.dockerignore
.env
.DS_Store
config 
build
dist
node_modules
docker-compose.dev.yaml
docker-compose.prod.yaml
docker-compose.yaml
Dockerfile
Dockerfile.env
Dockerfile.prod 
Makefile
README.md
local.config.json
frontend.config.json
config.json